body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-transparent {
  display: inline-block;
  padding: 6px 34px;
  margin-left: 84px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  vertical-align: center;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.section-container {
  padding: 0 6%;
}

.main-navigation {
  position: relative;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 20%;
  margin: 14px 0 16px;
}

.site-navigation li:nth-child(2) {
  padding-left: 30px;
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  padding-right: 34px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation-link-left {
  text-align: left;
}

.site-navigation-link-right {
  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current-link a,
.site-navigation-current-link a:hover,
.site-navigation-current-link a:focus,
.site-navigation-current-link a:active {
  color: #766357;

  cursor: default;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 138px;
  height: 70px;
  margin-left: -69px;
  padding: 0;
  z-index: 1;
}

.greeting {
  position: relative;
  min-height: 508px;
  margin-bottom: 60px;

  text-align: center;

  background-image: url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-position: center -57px;
  background-color: #eeeeee;
}

.greeting::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;

  background-image: url("../img/index-bg-mask.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

.greeting img {
  margin-top: 76px;
}

.advantages-title {
  margin-bottom: 53px;

  text-align: center;
}

.advantages-title h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
}

.advantages p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advantage-with-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 256px;
  overflow: hidden;
  background-color: #81b3d2;
}

.advantage-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.3%;
  padding: 48px 60px 34px;
  color: #ffffff;

  background-color: #81b3d2;
}

.devil-bridge-advantage .advantage-text {
  padding: 47px 45px 34px;
}

.advantage-with-image h2 {
  margin: 0;
  margin-bottom: 23px;
}

.advantage-with-image p {
  margin: 0;
  margin-bottom: 21px;
}

.advantage-image {
  position: absolute;
  top: 123px;
  right: 0;
  width: 66.6%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.advantage-with-image-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.advantage-with-image-left .advantage-image {
  left: 0;
}

.advantage-image img {
  display: block;
}

.minor-advantage {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 33.3%;
  padding: 160px 57px 82px;
}

.minor-advantage h2 {
  margin: 0;
  margin-bottom: 25px;
}

.minor-advantage p {
  margin: 0;
}

.hotels-advantage::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 50%;
  width: 75px;
  height: 72px;
  margin-left: -38px;

  background-image: url("../img/icon-1.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.food-advantage::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 50%;
  width: 74px;
  height: 70px;
  margin-left: -37px;

  background-image: url("../img/icon-3.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.souvenirs-advantage::before {
  content: "";

  position: absolute;
  top: 57px;
  left: 50%;
  width: 64px;
  height: 76px;
  margin-left: -32px;

  background-image: url("../img/icon-2.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.other-advantage-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #eeeeee;
}

.other-advantage {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.3%;
  padding: 47px 65px 39px;

  color: #000000;

  background-color: #eeeeee;

  z-index: 10;
}

.other-advantage h2 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0 70px;
}

.other-advantage p {
  margin: 0;
  margin-bottom: 21px;
}

.hotels-booking {
  position: relative;

  text-align: center;
}

.hotels-booking h2 {
  position: relative;
  padding-top: 49px;
  padding-bottom: 26px;
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  background-color: #ffffff;

  z-index: 10;
}

.hotels-booking p {
  position: relative;
  margin: 0;
  padding-bottom: 50px;

  line-height: 22px;

  background-color: #ffffff;

  z-index: 10;
}

.open-form-button {
  position: relative;

  padding: 30px 138px 30px 137px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.9px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

  z-index: 10;

  cursor: pointer;
}

.open-form-button:hover,
.open-form-button:focus {
  background-color: #604e43;
}

.open-form-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hotels-booking-wrapper {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  width: 570px;
  margin-left: -285px;
  padding: 55px 56px;

  line-height: 26px;
  font-weight: 700;
  text-align: left;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.hotels-booking-wrapper-hide {
  display: none;
}

.hotels-booking-form input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  padding: 7px 15px;
  vertical-align: middle;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.hotels-booking-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.hotels-booking-form input[type="text"]:focus {
  padding-left: 13px;

  line-height: 26px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.hotels-booking-form .date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.date label {
  display: block;
  padding: 6px 0;
  margin-right: 12px;

  letter-spacing: 0.3px;
}

.date input {
  width: 348px;

  text-align: left;
}

.open-calendar {
  position: absolute;
  top: 8px;
  right: 8px;
}

.open-calendar svg {
  display: block;
}

.open-calendar:hover path {
  fill: #000000;
}

.open-calendar:active path {
  fill: #81b3d2;
}

input[type="text"]:focus + .open-calendar {
  background-color: #ffffff;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}

.quantity-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.quantity-wrapper label {
  margin-right: 24px;
}

.quantity-wrapper:first-child label {
  margin-right: 39px;
}

.quantity-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantity-input {
  width: 39px;

  text-align: center;
}

.quantity-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 39px;
  height: 38px;
  padding-left: 11px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;

  cursor: pointer;
}

.quantity-button:hover,
.quantity-button:focus {
  color: #000000;

  outline: none;
}

.quantity-button:active {
  color: #81b3d2;
}

.hotels-booking-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 16px 10px;
  margin-top: 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.hotels-booking-form button[type="submit"]:hover,
.hotels-booking-form button[type="submit"]:focus {
  background-color: #669ec0;
}

.hotels-booking-form button[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  height: 593px;

  background-image: url("../img/map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eeeeee;
}

.filters {
  color: #ffffff;

  background-image: url("../img/hotels-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #81b3d2;
}

.filters form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 6px;
}

.filters fieldset {
  padding: 0;

  border: none;
}

.filters .checkboxes {
  width: 180px;
  margin: 0;
  margin-right: 75px;
}

.filters .price-submit {
  width: 316px;
  margin-left: auto;
}

.filters legend {
  margin-bottom: 27px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-option label {
  position: relative;
  display: block;
  padding-left: 41px;
  margin-bottom: 25px;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: 1px;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: 1px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-input-checkbox:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input:disabled + label {
  color: rgba(255, 255, 255, 0.3);
}

.filter-input:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-range {
  width: 315px;
  margin: 0;
}

.filter-range legend {
  margin-bottom: 11px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: center;

  cursor: pointer;
}

.price-controls .min-price {
  margin-right: -2px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 60px;
}

.price-controls input {
  width: 50px;
  height: 32px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 23px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;

  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.09);
}

.range-toggle-min {
  left: -1px;
}

.range-toggle-max {
  left: 80%;
}

.hotels-sorting {
  padding: 29px 0;
}

.hotels-sorting .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotels-sorting h2 {
  margin: 0;
  margin-right: 49px;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-sorting .sorting-title {
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
  line-height: 13px;
  color: #000000;
}

.hotels-sorting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.sorting-item {
  display: block;
  margin-right: 33px;
}

.hotels-sorting a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.hotels-sorting a:hover,
.hotels-sorting a:focus {
  color: #81b3d2;
}

.hotels-sorting a:active {
  color: #000000;
  border-bottom: none;
}

.current-sorting-item a {
  color: #81b3d2;
  border-bottom: none;
}

.current-sorting-item a:active {
  color: #81b3d2;
}

.sorting-buttons {
  margin-left: auto;
}

.sorting-button {
  width: 11px;
  height: 10px;

  border: none;

  background-image: url("../img/icon-dir.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;

  cursor: pointer;
}

.sorting-button-down {
  margin-right: 5px;

  -webkit-transform: rotate(180deg);

      -ms-transform: rotate(180deg);

          transform: rotate(180deg);
}

.sorting-button:hover {
  background-image: url("../img/icon-dir-hover.svg");
}

.sorting-button:active {
  background-image: url("../img/icon-dir-active.svg");
  outline: none;
}

.sorting-button-active {
  background-image: url("../img/icon-dir-active.svg");
}

.hotels-items {
  padding: 0;
  margin: 0;

  list-style: none;
}

.hotels-items > li {
  border-top: 1px solid #e5e5e5;
}

.hotels-items > li:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-items .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-image {
  margin: 30px 32px 24px 0;
}

.hotel-description {
  margin-top: 26px;
}

.hotel-description p {
  margin: 0;
}

.hotel-description .hotel-name {
  display: block;
  margin-bottom: 6px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-description .hotel-name:hover,
.hotel-description .hotel-name:focus {
  color: #81b3d2;
}

.hotel-description .hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-description-wrapper > div:first-child {
  margin-right: 5px;
}

.hotel-description-wrapper p:first-child {
  margin-bottom: 17px;
}


.hotel-description .read-more-link {
  padding: 4px 17px;

  color: #ffffff;
  font-weight: 700;

  background-color: #81b3d2;
}

.hotel-description .read-more-link:hover,
.hotel-description .read-more-link:focus {
  background-color: #669ec0;
}

.hotel-description .read-more-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-description .booking-link {
  padding: 4px 17px;

  color: #ffffff;
  font-weight: 700;

  background-color: #766357;
}

.hotel-description .booking-link:hover,
.hotel-description .booking-link:focus {
  background-color: #604e43;
}

.hotel-description .booking-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 30px;
  margin-left: auto;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 17px;
  padding: 0;
  margin: 0;
  margin-bottom: 46px;

  list-style: none;
}

.stars li {
  display: block;
  width: 18px;
  height: 17px;
  margin-left: 6px;

  text-indent: -2000px;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

.grade .rating {
  padding: 3px 13px;

  background-color: #f2f2f2;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 37px 0;
}

.footer-hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3%;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.3%;
  padding: 0;
  padding-left: 5px;
  margin: 0;

  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 46px;
  margin-right: 5px;

  background-color: #81b3d2;

  cursor: pointer;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg {
  opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3%;
  margin: 0;
}

.footer-copyright span {
  margin-right: 6px;
}

.footer-copyright svg {
  display: block;
  width: 116px;
  height: 45px;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: #81b3d2;
}

.footer-copyright:active path {
  fill: #bdbbbc;
}

.index-footer {
  position: absolute;
  bottom: 0;
  width: 1200px;

  background-color: rgba(255, 255, 255, 0.9);
}

iframe {
  border: none;
}
