body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
  text-align: center;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.site-navigation-current-link,
a.site-navigation-current-link:hover,
a.site-navigation-current-link:focus,
a.site-navigation-current-link:active {
  color: #766357;
}

.greeting {
  min-height: 510px;
  text-align: center;

  background-image: url("../img/header-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.advantages-title {
  padding: 60px 0 50px;
  text-align: center;
}

.advantages-title h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantage-with-image {
  width: 280px;
  padding: 45px 60px;
}

.advantage-image {
  width: 800px;
}

.advantage-image img {
  display: block;
}

.minor-advantage {
  width: 260px;
  padding: 160px 70px 85px;
}

.other-advantage {
  width: 270px;
  padding: 45px 65px 60px;
}

.advantages h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
}

.advantages p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advantage-with-image {
  color: #ffffff;

  background-color: #81b3d2;
}

.hotels-advantage:before {
  content: " ";
  background-image: url(../img/icon-1.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.food-advantage:before {
  content: " ";
  background-image: url(../img/icon-3.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.souvenirs-advantage:before {
  content: " ";
  background-image: url(../img/icon-2.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.other-advantage {
  color: #000000;

  background-color: #eeeeee;
}

.hotels-booking-title {
  padding: 55px 380px 0;

  text-align: center;
}

.hotels-booking-title h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.hotels-booking-title input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.hotels-booking-title input:hover,
.hotels-booking-title input:focus {
  background-color: #604e43;
}

.hotels-booking-title input:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotels-booking-form {
  width: 570px;
  margin: 0 auto;
  padding: 55px;

  line-height: 26px;
  font-weight: 700;
  text-align: left;
  background-color: #ffffff;
}

.hotels-booking-form input[type="text"] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.hotels-booking-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.hotels-booking-form input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.quantity-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;
}

.quantity-button:hover,
.quantity-button:focus {
  color: #000000;
}

.quantity-button:active {
  color: #81b3d2;
}

.hotels-booking-form button[type="submit"] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.hotels-booking-form button[type="submit"]:hover,
.hotels-booking-form button[type="submit"]:focus {
  background-color: #669ec0;
}

.hotels-booking-form button[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  height: 475px;

  background-image: url("../img/map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.filters {
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/hotels-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filters form {
  display: flex;
  padding: 25px 60px;
}

.filters fieldset {
  border: none;
}

.filters .checkboxes {
  width: 180px;
  margin: 0;
  margin-right: 10px;
}

.filters .price-submit {
  width: 340px;
  margin-left: auto;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters ul {
  list-style: none;
}

.filter-input:disabled + label {
  color: rgba(255, 255, 255, 0.3);
}

.filters .submit {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filters .submit:hover,
.filters .submit:focus {
  color: #000000;

  background-color: #ffffff;
}

.hotels-sorting {
  display: flex;
  padding: 30px 60px;
}

.hotels-sorting h2 {
  width: 140px;
  margin-right: 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-sorting .sorting-title {
  width: 380px;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.hotels-sorting ul {
  list-style: none;
}

.hotels-sorting a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.hotels-sorting a:hover,
.hotels-sorting a:focus {
  color: #81b3d2;
}

.hotels-sorting a:active {
  color: #000000;
  border-bottom: none;
}

.current-sorting-item a {
  color: #81b3d2;
  border-bottom: none;
}

.current-sorting-item a:active {
  color: #81b3d2;
}

.sorting-buttons {
  margin-left: auto;
}

.hotels-sorting button {
  background-color: transparent;
  border: none;
}

.hotels-list ul {
  padding: 0;

  list-style: none;
}

.hotels-list li {
  display: flex;

  border-top: 1px solid #e5e5e5;
}

.hotels-list li:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
  width: 150px;
  padding: 30px 0;
  margin-left: 10px;
}

.hotel-description {
  padding: 30px 10px;
}

.hotels-list a.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-list a.hotel-name:hover,
.hotels-list a.hotel-name:focus {
  color: #81b3d2;
}

.hotels-list a.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-list a.read-more-link {
  color: #ffffff;
  font-weight: 700;

  background-color: #81b3d2;
}

.hotels-list a.read-more-link:hover,
.hotels-list a.read-more-link:focus {
  background-color: #669ec0;
}

.hotels-list a.read-more-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotels-list a.booking-link {
  color: #ffffff;
  font-weight: 700;

  background-color: #766357;
}

.hotels-list a.booking-link:hover,
.hotels-list a.booking-link:focus {
  background-color: #604e43;
}

.hotels-list a.booking-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.grade {
  width: 120px;
  padding: 30px 10px;
  margin-left: auto;
}

.hotels-list .rating {
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.main-footer .footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  list-style: none;
}

.footer-social a {
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.index-footer {
  background-color: rgba(255, 255, 255, 0.9);
}






